:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
  --airforce-blue: hsl(204, 30%, 51%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* BG PATTERN: concentric circles overlapping - a bit like that circular artex pattern - credit Temani Affif css-pattern.com */
/* --s controls the size - originally 150px */
html {
  --s: 20vw;
  --c1: hsl(0 10% 100%);
  --c2: hsla(204 40% 96%);

  --_g:
    var(--c1) 0%  5% ,var(--c2) 6%  15%,var(--c1) 16% 25%,var(--c2) 26% 35%,var(--c1) 36% 45%,
    var(--c2) 46% 55%,var(--c1) 56% 65%,var(--c2) 66% 75%,var(--c1) 76% 85%,var(--c2) 86% 95%,
    #0000 96%;
  background:
    radial-gradient(50% 50% at 100% 0,var(--_g)),
    radial-gradient(50% 50% at 0 100%,var(--_g)),
    radial-gradient(50% 50%,var(--_g)),
    radial-gradient(50% 50%,var(--_g)) calc(var(--s)/2) calc(var(--s)/2)
    var(--c1);
  background-size: var(--s) var(--s);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* to prevent unecessary scrollbars */
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  /* outline: 1px solid blue;
  outline-offset: -4px; */
}

#pixi-canvas {
  grid-row: 1;
  grid-column: 1;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.game-title {
  font-size: clamp(3.5rem, calc(0.5rem + 10vw), 8rem);
  line-height: 1.1;
  grid-row: 1;
  grid-column: 1;
}


/* *** Circle spinner *** */
/* Loader spinner from https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  grid-row: 1;
  grid-column: 1;
  position: absolute;
  top: 55%;
  margin: 60px auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid hsla(204, 30%, 51%, 0.2);
  border-right: 1.1em solid hsla(204, 30%, 51%, 0.2);
  border-bottom: 1.1em solid hsla(204, 30%, 51%, 0.2);
  border-left: 1.1em solid var(--airforce-blue);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.2s infinite linear;
  animation: load8 1.2s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* *** ALTERNATIVE 3 dots spinner *** */
/* Loader spinner from https://projects.lukehaas.me/css-loaders/ */
.loader7,
.loader7:before,
.loader7:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader7 {
  grid-row: 1;
  grid-column: 1;
  position: absolute;
  top: 50%;
  color: hsl(200 40% 50% / 0.5);
  font-size: 10px;
  margin: 80px auto;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader7:before,
.loader7:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader7:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader7:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
